.heading {
  color: #3f4190;
  margin: 10px;
}
.mainlogo {
  display: inline-flex;
}

.vision {
  margin-left: 12%;
}

.topmargin {
  padding-top: 90px;
}
h2 {
  margin: 25px;
  color: rgb(67, 67, 240);
}

.hopedescription {
  margin: 25px;
  font-size: 16px;
}
.logomargin {
  margin-top: 10px;
}
.imgtopmargin {
  padding: 20px;
}
